<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lanzamientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lanzamientos</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <div id="container">
    <strong class="capitalize">RIP</strong>
    <p>RIP <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->

  <ion-card *ngFor = "let launch of infoLaunches; let i = index" (click)='setLaunchId(launch.id)' [routerLink]="['/lanzamiento-detalle/',launch.id]">
    <ion-card-header>
      <ion-card-title>{{launch.name}}</ion-card-title>
    </ion-card-header>
    <div *ngIf ='launch.links.patch.small'>
      <ion-avatar class="image">
        <img  src='{{launch.links.patch.small}}' alt="">
      </ion-avatar>
    </div>
    <div *ngIf ='!launch.links.patch.small'>
      <div *ngFor = "let rocket1 of infoRocket; let u = index">
      <div *ngIf ='launch.rocket == rocket1.id'>
        <ion-avatar class="image">
          <img  src="{{rocket1.flickr_images[1]}}" alt="">
        </ion-avatar>
      </div>
    </div>
    </div>
    <ion-card-content>
      {{demo}}
      {{launch.details}}
    </ion-card-content>
  </ion-card>
</ion-content>