<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <input type="file" id="myFileInput" name="inputFile" (ionRefresh)="doRefresh($event)" (change)="upload($event)" accept="*.png.jpg" />
        <ion-avatar class="avatar" onclick="document.getElementById('myFileInput').click()">
          <img id="avatar" src={{ImagenUsuario}}>
        </ion-avatar>

  <p><strong class="capitalize">Nombre</strong><span class="dataPerfil">{{nombreUsuarioIniciado}}</span></p>
  <hr class="line">
  <p><strong class="capitalize">Apellidos</strong><span class="dataPerfil">{{apellidosUsuarioIniciado}}</span></p>
  <hr class="line">
  <p><strong class="capitalize">Email</strong><span class="dataPerfil">{{UsuarioIniciado}}</span></p>
  <hr class="line">
  <ion-button (click)="onLogout()" expand="block" fill="clear" shape="round">
    Desconectarse
  </ion-button>
</div>
</ion-content>

