<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
  <ion-avatar class="avatar">
    <img src="https://imgur.com/0smMgMH.png">
  </ion-avatar>
  <p> <input class="file-input" type="file" name="resume"></p>
  <p><strong class="capitalize">Nombre</strong><span class="dataPerfil">{{nombreUsuarioIniciado}}</span></p>
  <hr class="line">
  <p><strong class="capitalize">Apellidos</strong><span class="dataPerfil">{{apellidosUsuarioIniciado}}</span></p>
  <hr class="line">
  <p><strong class="capitalize">Email</strong><span class="dataPerfil">{{UsuarioIniciado}}</span></p>
  <hr class="line">
</div>
</ion-content>

