<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Vehículo Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-class" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vehículo Detalle</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngFor="let rocket of data; let i = index">
    <div *ngIf='rocket.id == idRocket'>
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let rocketImg of rocket.flickr_images; let e = index">
          <img src='{{rocketImg}}' alt="">
        </ion-slide>
      </ion-slides>
      <h1 class="textCenter">{{rocket.name}}</h1>
      <p>Tipo: {{rocket.type}}</p>
      <p>Altura: {{rocket.height.meters}}m</p>
      <p>Diámetro: {{rocket.diameter.meters}}m</p>
      <p>Peso: {{rocket.mass.kg}}kg</p>
      <p>Costo por lanzamiento: {{rocket.cost_per_launch}}</p>
      <p>Acierto: {{rocket.success_rate_pct}}%</p>
      <p>Primer vuelo: {{rocket.first_flight | date: 'dd/MM/yyyy'}}</p>
      <p>Descripción: {{rocket.description}}</p>
    </div>
  </div>
</ion-content>