#title{
    margin-bottom: 10px;
}
#logo{
    width:250px;
    margin: auto;
    display: block;
  }
.userInput{
    margin-left: 20px;
    margin-right: 20px;
}
.emailPassword{
    color: grey;
}
#loginButton{
    margin-top: 20px;
    margin-bottom: 15px;
    height: 40px;
}
.registerGuest{
    margin-top: -12px;
    margin-bottom: -8px;
}
.registerGuestText{
    font-size: 11px;
}