/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.textCenter{
    text-align: center;
}
.verdana{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
.textUnderline{
    text-decoration: underline;
}

.noBgButton{
    --box-shadow:none;
    --background: transparent;
    --background-hover: transparent !important;
    --ripple-color: transparent  !important;
}
.noBgButton:focus {
    outline: none;
    box-shadow: none;
  }

.textWhite{
    color: white;
}
.textGrey{
    color: #383838de;
}
.bg-classLogin{
    --background: linear-gradient(to right top, #9361d5, #8f5dd0, #8b5acb, #8856c7, #8453c2, #8150bf, #7e4ebc, #7b4bb9, #7848b7, #7645b4, #7342b2, #703fb0) !important;
  }

.bg-class{
    --background: linear-gradient(to right top,#e174eb, #c566dd, #a958ce, #8c4bbf, #703fb0) !important;
  }

.bg-classTransparent{
    --background: rgba(255, 125, 0, 0) !important;
    background-color: transparent;
  }
.userInput{
    margin-left: 20px;
    margin-right: 20px;
    --ion-background-color: transparent;
}

.card{
    background-color: rgb(255 255 255 / 49%);
    border-radius: 20px;

}