.image{
    margin:0 auto;
    margin-top: 10%;
    width: 300px;  
    height: 300px;
}
.main-button{
    --background-hover: var(--background);
    font-size: 38px;
    
 }
 #favButton{
    --box-shadow:none;
    --background-hover: var(--background);
    --ripple-color: transparent;
 }