#container{
    margin-left: 10px;
    margin-right: 10px;
}
h1{
    text-align: center;
}
p{
    font-size: 14px;
}
.infoLanzamiento{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.image{
    margin:0 auto;
    margin-top: 10%;
    width: 300px;  
    height: 300px;
}
.main-button{
    --background-hover: var(--background);
    font-size: 38px;    
 }
 #favButton{
    --box-shadow:none;
    --background-hover: var(--background);
    --ripple-color: transparent;
    position: relative;
    z-index: 99;
    float: right;
 }

 .fecha{
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    opacity: inherit
}