<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>LanzamientoDetalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">LanzamientoDetalle</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" *ngFor="let launch of infoLaunches; let i = index">
    <div *ngIf='launch.id == idLaunch'>
      {{getInfo(idLaunch)}}
      <h1>{{launch.name}}</h1>
      <div *ngIf='launch.links.patch.small'>
        <ion-avatar class="image">
          <img src='{{launch.links.patch.small}}' alt="">
        </ion-avatar>
      </div>
      <div *ngIf='!launch.links.patch.small'>
        <ion-avatar class="image">
          <img src="{{rocketImage}}" alt="">
        </ion-avatar>
      </div>
      <ion-button class="noBgButton" id="favButton" color="danger" fill="clear" shape="round" (click)="setLaunchId(launch.id)">
        <ion-icon class="main-button" [name]="meGustaIcon ? 'heart' : 'heart-outline'"></ion-icon>
      </ion-button>
      <br>
      <br>
      <p>Nombre: <span class="infoLanzamiento">{{launch.name}}</span></p>
      <p>Cohete: <span class="infoLanzamiento">{{rocketName}}</span></p>
      <div *ngFor="let launchpads of infoLaunchpad; let e = index">
        <div *ngIf='launchpads.id == launch.launchpad'>
          <p>Lanzamiento: <span class="infoLanzamiento">{{launchpads.locality}}, {{launchpads.region}}</span></p>
        </div>
      </div>
      <p>Fecha: <span class="infoLanzamiento">{{launch.date_utc | date: 'dd/MM/yyyy'}}</span></p>
      <p>Hora: <span class="infoLanzamiento">{{launch.date_utc | date: 'HH:mm'}}</span></p>
      <P *ngIf='launch.details'>Descripción: <span class="infoLanzamiento">{{launch.details}}</span></P>
      <P *ngIf='!launch.details'>Descripción: <span class="infoLanzamiento">-</span></P>
    </div>
  </div>
</ion-content>